
.root {
    display: flex;
    width: 1200px;
    direction: rtl;
    flex-direction: row-reverse;
    /*justify-content: center;*/

}

.map-item {
    flex-grow: 1;
    flex-shrink: 0;

}

.fix-width {
    width: 600px;
}

.province-header {
    text-align: center;

}